{%extends 'base.html'%}
{%block body_block%}
<div class="card text-center">
    <div class="card-header">
        Product Details
    </div>
    <div class="card-body">
        <h5 class="card-title">{{order.product.book_name}}</h5>
        <p class="card-text">{{order.product.author}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
<div class="row">
    <div class="card text-center">
    <div class="card-header">
        User Details
    </div>
    <div class="card-body">
        <h5 class="card-title">{{order.user.username}}</h5>
        <p class="card-text">{{order.user.email}}</p>
        <p class="card-text">{{order.address}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

</div>
{%endblock%}