{%extends 'cbase.html'%}
{%block body_block%}
<div class="row">
    <div class="col-8">
        {%for cart in carts%}
        <div class="row bg-dark">
            <div class="col-4">
                {%if cart.product.image%}
                <img src="{{cart.product.image.url}}" alt="" width="65%" height="200px">
                {%endif%}
            </div>
            <div class="col-4 mt-5">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{cart.product.book_name}}</li>
                        <li class="list-group-item">{{cart.product.author}}</li>
                        <li class="list-group-item">{{cart.date}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-4 mt-5">

                <a href="{%url 'removeitem' cart.id%}" class="btn btn-outline-danger">Delete</a>
                <!--        <button  type="button" class="btn btn-outline-danger">Delete</button>-->
                <div>
                    <a href="{%url 'ordercreate' cart.id cart.product.id %}" class="btn btn-outline-primary mt-2">Buy
                        Now</a>
                    <!--            <button type="button" class="btn btn-outline-primary mt-2" >Buy Now</button>-->

                </div>
            </div>

            <hr>
        </div>
        {%endfor%}

    </div>
    <div class="col-4 mt-5">
        <div class="card">
            <div class="card-header">
                Price Details
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <strong>Total Amount :{{total}}</strong>
            </div>
        </div>
    </div>
</div>
{%endblock%}